body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

/* SCREEN SYSTEM */
.screen {
    display: none;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 20px;
}

/* BUTTONS */
button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* MAP */
#map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.levelBtn {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background: #1e293b;
    color: white;
}

.super {
    background: gold;
    color: black;
}

/* ANSWERS */
.answer {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 14px;
    font-size: 18px;
    background: #334155;
    color: white;
}

.answer:hover {
    background: #475569;
}
