body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
}

/* SCREEN */
.screen {
    display: none;
    padding: 20px;
}

/* START */
#startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 20px;
}

/* BUTTON */
button {
    padding: 14px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(180deg, #22c55e, #16a34a);
    color: white;
    margin-top: 10px;
}

/* MAP */
#map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.levelBtn {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
}

.super {
    background: gold;
    color: black;
}

/* SHOP (ЦЕНТР) */
#shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ANSWERS */
.answer {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 14px;
    background: #334155;
}

/* PROGRESS */
#progressContainer {
    width: 100%;
    background: #1e293b;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

#progressBar {
    height: 10px;
    background: #22c55e;
    width: 0%;
}

/* POPUP */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

#popupButtons button {
    width: 100%;
}
